-- AlterEnum
BEGIN;
CREATE TYPE "MartProductUnit_new" AS ENUM ('G', 'KG', 'ML', 'L', 'PCS', 'PACK', 'DOZEN');
ALTER TABLE "MartProductVariant" ALTER COLUMN "unit" TYPE "MartProductUnit_new" USING ("unit"::text::"MartProductUnit_new");
ALTER TABLE "MartOrderItem" ALTER COLUMN "unit" TYPE "MartProductUnit_new" USING ("unit"::text::"MartProductUnit_new");
ALTER TYPE "MartProductUnit" RENAME TO "MartProductUnit_old";
ALTER TYPE "MartProductUnit_new" RENAME TO "MartProductUnit";
DROP TYPE "public"."MartProductUnit_old";
COMMIT;

-- DropForeignKey
ALTER TABLE "MartOrderItem" DROP CONSTRAINT "MartOrderItem_productId_fkey";

-- DropForeignKey
ALTER TABLE "MartOrderItem" DROP CONSTRAINT "MartOrderItem_variantId_fkey";

-- DropForeignKey
ALTER TABLE "Restaurant" DROP CONSTRAINT "Restaurant_subCategoryId_fkey";

-- DropForeignKey
ALTER TABLE "VendorCategory" DROP CONSTRAINT "VendorCategory_categoryId_fkey";

-- DropForeignKey
ALTER TABLE "VendorCategory" DROP CONSTRAINT "VendorCategory_subCategoryId_fkey";

-- DropIndex
DROP INDEX "MartOrder_cancelledAt_idx";

-- DropIndex
DROP INDEX "MartOrder_deliveredAt_idx";

-- DropIndex
DROP INDEX "MartOrder_paymentMethod_idx";

-- DropIndex
DROP INDEX "MartOrder_riderId_status_deliveredAt_idx";

-- DropIndex
DROP INDEX "MartOrder_storeId_status_createdAt_idx";

-- DropIndex
DROP INDEX "MartOrder_vendorId_idx";

-- DropIndex
DROP INDEX "MartOrderStatusHistory_changedBy_idx";

-- DropIndex
DROP INDEX "MartStore_createdAt_idx";

-- DropIndex
DROP INDEX "MartStore_isFeatured_idx";

-- DropIndex
DROP INDEX "MartStore_type_idx";

-- DropIndex
DROP INDEX "MartStore_vendorId_idx";

-- DropIndex
DROP INDEX "Restaurant_subCategoryId_idx";

-- DropIndex
DROP INDEX "VendorCategory_categoryId_idx";

-- DropIndex
DROP INDEX "VendorCategory_subCategoryId_idx";

-- AlterTable
ALTER TABLE "MartCategory" ADD COLUMN     "deletedAt" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "MartOrder" DROP COLUMN "cancelReason",
DROP COLUMN "cancelledBy",
DROP COLUMN "commissionRate",
DROP COLUMN "commissionableAmount",
DROP COLUMN "deliveryOtp",
DROP COLUMN "deliveryOtpExpiresAt",
DROP COLUMN "deliveryOtpVerified",
DROP COLUMN "distanceKm",
DROP COLUMN "packingAt",
DROP COLUMN "pickedAt",
DROP COLUMN "platformCommissionAmount",
DROP COLUMN "vendorId",
DROP COLUMN "vendorSettlementAmount",
ADD COLUMN     "assignedAt" TIMESTAMP(3),
ADD COLUMN     "cancellationReason" TEXT,
ADD COLUMN     "outForDeliveryAt" TIMESTAMP(3),
ADD COLUMN     "paymentId" VARCHAR(255),
ADD COLUMN     "razorpayOrderId" VARCHAR(255),
ADD COLUMN     "razorpayPaymentId" VARCHAR(255);

-- AlterTable
ALTER TABLE "MartOrderItem" DROP COLUMN "imageUrl",
DROP COLUMN "itemName",
DROP COLUMN "price",
ADD COLUMN     "productName" VARCHAR(255) NOT NULL,
ADD COLUMN     "unit" "MartProductUnit" NOT NULL,
ADD COLUMN     "unitPrice" DECIMAL(10,2) NOT NULL,
ALTER COLUMN "productId" SET NOT NULL,
ALTER COLUMN "variantId" SET NOT NULL,
ALTER COLUMN "variantLabel" SET NOT NULL,
ALTER COLUMN "mrp" SET NOT NULL;

-- AlterTable
ALTER TABLE "MartOrderStatusHistory" DROP COLUMN "changedBy";

-- AlterTable
ALTER TABLE "MartProduct" ADD COLUMN     "deletedAt" TIMESTAMP(3),
ADD COLUMN     "isActive" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "isBestSeller" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "sortOrder" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "MartProductVariant" ADD COLUMN     "costPrice" DECIMAL(10,2) NOT NULL DEFAULT 0,
ADD COLUMN     "deletedAt" TIMESTAMP(3),
ADD COLUMN     "isActive" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "sortOrder" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "MartStore" DROP COLUMN "closingTime",
DROP COLUMN "commission",
DROP COLUMN "deliveryTime",
DROP COLUMN "email",
DROP COLUMN "isFeatured",
DROP COLUMN "minimumOrder",
DROP COLUMN "openingTime",
DROP COLUMN "rating",
DROP COLUMN "totalReviews",
DROP COLUMN "type",
DROP COLUMN "vendorId",
DROP COLUMN "weeklyOffDay",
ADD COLUMN     "freeDeliveryAbove" DECIMAL(10,2),
ADD COLUMN     "isActive" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "minimumOrderAmount" DECIMAL(10,2) NOT NULL DEFAULT 0,
ADD COLUMN     "platformFee" DECIMAL(10,2) NOT NULL DEFAULT 0,
ADD COLUMN     "sortOrder" INTEGER NOT NULL DEFAULT 0,
ALTER COLUMN "cityId" SET NOT NULL,
ALTER COLUMN "name" SET DATA TYPE VARCHAR(150),
ALTER COLUMN "address" DROP NOT NULL,
ALTER COLUMN "address" SET DATA TYPE TEXT,
ALTER COLUMN "isVerified" SET DEFAULT true;

-- AlterTable
ALTER TABLE "Restaurant" DROP COLUMN "subCategoryId";

-- AlterTable
ALTER TABLE "VendorCategory" DROP COLUMN "categoryId",
DROP COLUMN "subCategoryId";

-- DropEnum
DROP TYPE "MartStoreType";

-- CreateTable
CREATE TABLE "MartStockMovement" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "variantId" TEXT NOT NULL,
    "type" "MartStockMovementType" NOT NULL,
    "quantity" INTEGER NOT NULL,
    "previousStock" INTEGER NOT NULL,
    "newStock" INTEGER NOT NULL,
    "reason" TEXT,
    "orderId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MartStockMovement_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "MartStockMovement_productId_idx" ON "MartStockMovement"("productId");

-- CreateIndex
CREATE INDEX "MartStockMovement_variantId_idx" ON "MartStockMovement"("variantId");

-- CreateIndex
CREATE INDEX "MartStockMovement_orderId_idx" ON "MartStockMovement"("orderId");

-- CreateIndex
CREATE INDEX "MartStockMovement_type_idx" ON "MartStockMovement"("type");

-- CreateIndex
CREATE INDEX "MartStockMovement_createdAt_idx" ON "MartStockMovement"("createdAt");

-- CreateIndex
CREATE INDEX "MartCategory_deletedAt_idx" ON "MartCategory"("deletedAt");

-- CreateIndex
CREATE INDEX "MartOrder_addressId_idx" ON "MartOrder"("addressId");

-- CreateIndex
CREATE INDEX "MartOrderStatusHistory_createdAt_idx" ON "MartOrderStatusHistory"("createdAt");

-- CreateIndex
CREATE INDEX "MartProduct_isActive_idx" ON "MartProduct"("isActive");

-- CreateIndex
CREATE INDEX "MartProduct_isBestSeller_idx" ON "MartProduct"("isBestSeller");

-- CreateIndex
CREATE INDEX "MartProduct_sortOrder_idx" ON "MartProduct"("sortOrder");

-- CreateIndex
CREATE INDEX "MartProduct_deletedAt_idx" ON "MartProduct"("deletedAt");

-- CreateIndex
CREATE INDEX "MartProductVariant_isActive_idx" ON "MartProductVariant"("isActive");

-- CreateIndex
CREATE INDEX "MartProductVariant_isDefault_idx" ON "MartProductVariant"("isDefault");

-- CreateIndex
CREATE INDEX "MartProductVariant_sortOrder_idx" ON "MartProductVariant"("sortOrder");

-- CreateIndex
CREATE INDEX "MartProductVariant_deletedAt_idx" ON "MartProductVariant"("deletedAt");

-- CreateIndex
CREATE INDEX "MartStore_name_idx" ON "MartStore"("name");

-- CreateIndex
CREATE INDEX "MartStore_isActive_idx" ON "MartStore"("isActive");

-- CreateIndex
CREATE INDEX "MartStore_sortOrder_idx" ON "MartStore"("sortOrder");

-- AddForeignKey
ALTER TABLE "MartStockMovement" ADD CONSTRAINT "MartStockMovement_productId_fkey" FOREIGN KEY ("productId") REFERENCES "MartProduct"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MartStockMovement" ADD CONSTRAINT "MartStockMovement_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES "MartProductVariant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MartOrderItem" ADD CONSTRAINT "MartOrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES "MartProduct"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MartOrderItem" ADD CONSTRAINT "MartOrderItem_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES "MartProductVariant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

